<form (ngSubmit)="submitBlog()">
    <legend>Créer un blog?</legend>

    <div>
        <input name="id" [(ngModel)]="id" type="hidden">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Titre</label>
        <input name="titre" [(ngModel)]="titre" class="form-control" type="text">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Sous titre</label>
        <input name="sousTitre" [(ngModel)]="sousTitre" class="form-control" type="text">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Catégorie</label>
        <input name="categorie" [(ngModel)]="categorie" class="form-control" type="text">
    </div>

    <button type="submit" class="btn btn-primary">Sauvegarder le blog</button>
</form>