<div class="container">

    <nav class="nav navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-link" [routerLink]="['./blog']">Modifier un blog?</a>
        <a class="nav-link" [routerLink]="['./subscribe']">S'inscrire</a>
        <a class="nav-link" [routerLink]="['./login']">Se connecter</a>
        <a class="nav-link" [routerLink]="['./altitude']">InfluxDB</a>
        <a class="nav-link" (click)="logout()">Se deconnecter</a>
    </nav>

    <div class="row">
        <router-outlet>

        </router-outlet>
    </div>
    

    <div class="row">
        <div class="col-6">
            <app-blog-form></app-blog-form>
        </div>
        <div class="col-6">
            <app-article-form></app-article-form>
        </div>
    </div>
</div>