
<p>Editer un blog?</p>

<form (ngSubmit)="submitBlog()">
    <div>
        <input name="id" [(ngModel)]="id" type="hidden">
    </div>

    <select name="selectedBlog" [(ngModel)]="selectedBlog" (change)="onChangeBlog()" name="blog">
        <option *ngFor="let blog of allBlogs" [ngValue]="blog">{{blog.titre}}</option>
    </select>
    
    <div>
        <label for="">Titre</label>
        <input name="titre" [(ngModel)]="titre" type="text">
    </div>

    <div>
        <label for="">Sous titre</label>
        <input name="sousTitre" [(ngModel)]="sousTitre" type="text">
    </div>

    <div>
        <label for="">Catégorie</label>
        <input name="categorie" [(ngModel)]="categorie" type="text">
    </div>

    <button [disabled]="submitState ? true : null" type="submit">Modifier le blog</button>
</form>