<form (submit)="onSubmit()">
    <legend>Inscription</legend>

    <div>
        <label class="form-label">Nom de famille</label>
        <input [(ngModel)]='nom' class="form-control" name = "nom"/>
    </div>

    <div class="mb-3">
        <label  class="form-label">Prénom</label>
        <input [(ngModel)]='prenom' class="form-control" name = "prenom"/>
    </div>
    
    <div class="mb-3">
        <label  class="form-label">Email</label>
        <input [(ngModel)]='email' class="form-control" name = "email"/>
    </div>

    <div class="mb-3">
        <label  class="form-label">Mot de passe</label>
        <input [(ngModel)]='motDePasse' class="form-control" type="password" name = "motDePasse"/>
    </div>
    
    <button class="btn btn-primary" type="submit">S'inscrire</button>
</form>